body {
	background-color: yellow;
	text-align: center;
}

.mainWrapper{
	display: inline-block;
	border: 2px solid red;
	position: absolute;
	top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.boardWrapper{
	display: block;
	height: 150px;
	width: 150px;
}
.field{
	display: inline-block;
	border: 1px solid black;
	height: 48px;
	width: 48px;
	float: left;
	position: relative;
}

.field:hover{
	background-color: grey;
}

.circle{
	height: 80%;
	width: 80%;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

.cross1{
	height:18%;
	width:90%;
	background-color: black;
	position: absolute;
	top: 41%; /* 2top+2height=100%*/
	left: 5%; /* 2left+2width=100%*/
	transform: rotate(45deg);
}

.cross2{
	height: 18%;
	width: 90%;
	background-color: black;
	position: absolute;
	top: 41%; /* 2top+2height=100%*/
	left: 5%; /* 2left+2width=100%*/
	transform: rotate(-45deg);
}

.menu {
	display: block;
}

.saveInput {
	display:none;
}

.loadInput {
	display:none;
}

.saveButton{
	display: none;
}

.loadButton{
	display: none;
}

footer{
	position: absolute;
	bottom: 0;
	right: 0;
}

a{
	text-decoration: none;
}

a:link{
	color:black;
}

a:visited{
	color:black;
}

a:hover{
	color: grey;
}
