$fieldMultiplier : 0.306;
$borderMultiplier : 0.04;
$boardSize: 700px;
$footerFontDivider: 21;
$menuFontDivider: 15;
$gameStateFontDivider: 7;
$inputDivider: 15;

body {
	background-color: black;
	text-align: center;
}

.mainWrapper{
	display: inline-block;
	position: absolute;
	top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.gameState{
	font-size: 100px;
}

.boardWrapper{
	display: block;
	height: $boardSize;
	width: $boardSize;
	margin-top: 5px;
	margin-bottom: 10px;
}
.field{
	display: inline-block;
	height: $boardSize * $fieldMultiplier;
	width: $boardSize * $fieldMultiplier;
	float: left;
	position: relative;
}

.field:hover{
	background-color: grey;
}

.field:nth-of-type(3n+2){
	border-left: $boardSize * $borderMultiplier solid white;
	border-right: $boardSize * $borderMultiplier solid white;
}

.field:nth-of-type(4){
	border-top: $boardSize * $borderMultiplier solid white;
	border-bottom: $boardSize * $borderMultiplier solid white;
}
.field:nth-of-type(5){
	border-top: $boardSize * $borderMultiplier solid white;
	border-bottom: $boardSize * $borderMultiplier solid white;
}
.field:nth-of-type(6){
	border-top: $boardSize * $borderMultiplier solid white;
	border-bottom: $boardSize * $borderMultiplier solid white;
}

.circleOuter{
	height: 80%;
	width: 80%;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

.circleInner{
	height: 70%;
	width: 70%;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

.cross1{
	height:18%;
	width:90%;
	background-color: white;
	position: absolute;
	top: 41%; /* 2top+2height=100%*/
	left: 5%; /* 2left+2width=100%*/
	transform: rotate(45deg);
}

.cross2{
	height: 18%;
	width: 90%;
	background-color: white;
	position: absolute;
	top: 41%; /* 2top+2height=100%*/
	left: 5%; /* 2left+2width=100%*/
	transform: rotate(-45deg);
}

.menu {
	display: block;
	color: white;
}

.saveInput {
	display:none;
}

.loadInput {
	display:none;
}

.saveButton{
	display: none;
}

.loadButton{
	display: none;
}

footer{
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
}

a{
	text-decoration: none;
}

a:link{
	color:white;
}

a:visited{
	color:white;
}

a:hover{
	color: grey;
}

/*one of laptop resolutions 1920x1080*/
@media only screen and (max-width: 1920px){
	$boardSize: 690px;
	.menu.gameState{
		font-size: $boardSize/$gameStateFontDivider;
	}
	.menu{
		font-size: $boardSize/$menuFontDivider;
	}
	input{
		height: $boardSize/$inputDivider;
		font-size: $boardSize/$inputDivider;
	}
	button{
		height: $boardSize/$inputDivider;
		font-size: $boardSize/$inputDivider;
	}
	footer{
		font-size: $boardSize/$footerFontDivider;
	}
	.boardWrapper{
		margin-top: 10px;
		margin-bottom: 20px;
		height: $boardSize;
		width: $boardSize;
	}
	.field{
		width: $boardSize*$fieldMultiplier;
		height: $boardSize*$fieldMultiplier;
	}
	.field:nth-of-type(3n+2){
		border-left: $boardSize * $borderMultiplier solid white;
		border-right: $boardSize * $borderMultiplier solid white;
	}

	.field:nth-of-type(4){
		border-top: $boardSize * $borderMultiplier solid white;
		border-bottom: $boardSize * $borderMultiplier solid white;
	}
	.field:nth-of-type(5){
		border-top: $boardSize * $borderMultiplier solid white;
		border-bottom: $boardSize * $borderMultiplier solid white;
	}
	.field:nth-of-type(6){
		border-top: $boardSize * $borderMultiplier solid white;
		border-bottom: $boardSize * $borderMultiplier solid white;
	}
}

/*one of laptop resolutions 1366x768*/
@media only screen and (max-width: 1366px) {
	$boardSize: 480px;
	.menu.gameState{
		font-size: $boardSize/$gameStateFontDivider;
	}
	.menu{
		font-size: $boardSize/$menuFontDivider;
	}
	input{
		height: $boardSize/$inputDivider;
		font-size: $boardSize/$inputDivider;
	}
	button{
		height: $boardSize/$inputDivider;
		font-size: $boardSize/$inputDivider;
	}
	footer{
		font-size: $boardSize/$footerFontDivider;
	}
	.boardWrapper{
		height: $boardSize;
		width: $boardSize;
	}
	.field{
		width: $boardSize*$fieldMultiplier;
		height: $boardSize*$fieldMultiplier;
	}
	.field:nth-of-type(3n+2){
		border-left: $boardSize * $borderMultiplier solid white;
		border-right: $boardSize * $borderMultiplier solid white;
	}

	.field:nth-of-type(4){
		border-top: $boardSize * $borderMultiplier solid white;
		border-bottom: $boardSize * $borderMultiplier solid white;
	}
	.field:nth-of-type(5){
		border-top: $boardSize * $borderMultiplier solid white;
		border-bottom: $boardSize * $borderMultiplier solid white;
	}
	.field:nth-of-type(6){
		border-top: $boardSize * $borderMultiplier solid white;
		border-bottom: $boardSize * $borderMultiplier solid white;
	}
}

/*tablet 1366x768*/
@media only screen and (max-width: 768px) and (orientation: portrait){
	$boardSize: 740px;
	.menu.gameState{
		font-size: $boardSize/($gameStateFontDivider+1);
	}
	.menu{
		font-size: $boardSize/($menuFontDivider+1);
	}
input{
	height: $boardSize/$inputDivider;
	font-size: $boardSize/$inputDivider;
}
button{
	height: $boardSize/$inputDivider;
	font-size: $boardSize/$inputDivider;
}
footer{
	font-size: $boardSize/$footerFontDivider;
}

	.boardWrapper{
		height: $boardSize;
		width: $boardSize;
	}
	.field{
		width: $boardSize*$fieldMultiplier;
		height: $boardSize*$fieldMultiplier;
	}
	.field:nth-of-type(3n+2){
		border-left: $boardSize * $borderMultiplier solid white;
		border-right: $boardSize * $borderMultiplier solid white;
	}

	.field:nth-of-type(4){
		border-top: $boardSize * $borderMultiplier solid white;
		border-bottom: $boardSize * $borderMultiplier solid white;
	}
	.field:nth-of-type(5){
		border-top: $boardSize * $borderMultiplier solid white;
		border-bottom: $boardSize * $borderMultiplier solid white;
	}
	.field:nth-of-type(6){
		border-top: $boardSize * $borderMultiplier solid white;
		border-bottom: $boardSize * $borderMultiplier solid white;
	}
}

/*popular tablet resolution 1280x720*/
@media only screen and (max-width: 720px) and (orientation: portrait){
	$boardSize: 700px;
	.menu.gameState{
		font-size: $boardSize/$gameStateFontDivider;
	}
	.menu{
		font-size: $boardSize/$menuFontDivider;
	}
input{
	height: $boardSize/$inputDivider;
	font-size: $boardSize/$inputDivider;
}
button{
	height: $boardSize/$inputDivider;
	font-size: $boardSize/$inputDivider;
}
footer{
	font-size: $boardSize/$footerFontDivider;
}

	.boardWrapper{
		height: $boardSize;
		width: $boardSize;
	}
	.field{
		width: $boardSize*$fieldMultiplier;
		height: $boardSize*$fieldMultiplier;
	}
	.field:nth-of-type(3n+2){
		border-left: $boardSize * $borderMultiplier solid white;
		border-right: $boardSize * $borderMultiplier solid white;
	}

	.field:nth-of-type(4){
		border-top: $boardSize * $borderMultiplier solid white;
		border-bottom: $boardSize * $borderMultiplier solid white;
	}
	.field:nth-of-type(5){
		border-top: $boardSize * $borderMultiplier solid white;
		border-bottom: $boardSize * $borderMultiplier solid white;
	}
	.field:nth-of-type(6){
		border-top: $boardSize * $borderMultiplier solid white;
		border-bottom: $boardSize * $borderMultiplier solid white;
	}
}

/*Most popular phone resolution 360x640*/
@media only screen and (max-width: 360px) and (orientation:portrait){
	$boardSize: 340px;
	.menu.gameState{
		font-size: $boardSize/$gameStateFontDivider;
	}
	.menu{
		font-size: $boardSize/$menuFontDivider;
	}
	input{
		height: $boardSize/$inputDivider;
		font-size: $boardSize/$inputDivider;
	}
	button{
		height: $boardSize/$inputDivider;
		font-size: $boardSize/$inputDivider;
	}
	footer{
		font-size: $boardSize/$footerFontDivider;
	}
	.boardWrapper{
		height: $boardSize;
		width: $boardSize;
	}
	.field{
		width: $boardSize*$fieldMultiplier;
		height: $boardSize*$fieldMultiplier;
	}
	.field:nth-of-type(3n+2){
		border-left: $boardSize * $borderMultiplier solid white;
		border-right: $boardSize * $borderMultiplier solid white;
	}

	.field:nth-of-type(4){
		border-top: $boardSize * $borderMultiplier solid white;
		border-bottom: $boardSize * $borderMultiplier solid white;
	}
	.field:nth-of-type(5){
		border-top: $boardSize * $borderMultiplier solid white;
		border-bottom: $boardSize * $borderMultiplier solid white;
	}
	.field:nth-of-type(6){
		border-top: $boardSize * $borderMultiplier solid white;
		border-bottom: $boardSize * $borderMultiplier solid white;
	}
}
